<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spw.rr.mybatis.DBMapper">
    <select id="listReferences" parameterType="String" resultType="com.spw.rr.model.ReferenceItem">
        SELECT id,
               type        as typeName,
               description as typeDescription,
               last_updated
        FROM \${type}
    </select>
    <insert id="addReferenceItem" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.spw.rr.model.ReferenceItem">
        INSERT INTO \${tableName} (type, description)
        values (#{typeName}, #{typeDescription})
    </insert>
    <update id="saveReferenceItem" parameterType="com.spw.rr.model.ReferenceItem">
        UPDATE \${tableName}
        set type = #{typeName},
            description  = #{typeDescription},
            last_updated = current timestamp
            where ID = #{id}
    </update>
    <select id="getReferenceItem">
        SELECT id, type, description, last_updated
        FROM \${type}
        WHERE id = #{id}
    </select>
    <select id="listReportingMarks" resultType="com.spw.rr.model.ReportingMark">
        SELECT ID,
               mark,
               mark_desc as description,
               last_updated
        FROM RPT_Mark
        ORDER BY mark
    </select>
    <insert id="addReportingMark" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.spw.rr.model.ReportingMark">
        INSERT INTO RPT_MARK
        (mark,
         mark_desc)
        VALUES (#{mark},
                #{description})
    </insert>
    <select id="listVendors" resultType="com.spw.rr.model.Vendor">
        SELECT ID,
               source_name as vendor,
               description,
               last_updated
        FROM VENDOR
        ORDER BY vendor
    </select>
    <insert id="addVendor" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.spw.rr.model.Vendor">
        INSERT INTO VENDOR
        (source_name,
         description)
        VALUES (#{vendor},
                #{description})
    </insert>
    <select id="listManufacturers" resultType="com.spw.rr.model.Manufacturer">
        SELECT ID,
               manf_name as manufacturer,
               description,
               last_updated
        FROM MANUFACTURER
        ORDER BY manufacturer
    </select>
    <insert id="addManufacturer" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.spw.rr.model.Manufacturer">
        INSERT INTO MANUFACTURER
        (manf_name,
         description)
        VALUES (#{manufacturer},
                #{description})
    </insert>
    <select id="listViewCars" resultType="com.spw.rr.model.ViewCar"
            parameterType="com.spw.rr.parameter.ViewParameter">
        SELECT c.id,
        car_number as carNumber,
        rpt.mark AS ReportingMark,
        aar.type AS aarType,
        ty.type AS carType,
        c.description,
        c.rfid_tag as rfidTag
        FROM car c
        INNER JOIN
        rpt_mark rpt
        ON
        rpt.id = c.rpt_mark
        LEFT OUTER JOIN
        aar_type aar
        ON
        c.aar_type = aar.id
        LEFT OUTER JOIN
        car_type ty
        ON
        c.car_type = ty.id
        <where>
            <choose>
                <when test="viewSelection == 3">
                    EXISTS
                    ( SELECT
                    *
                    FROM
                    bad_order b
                    WHERE
                    c.id = b.car_id
                    AND in_effect = '1')
                </when>
                <when test="viewSelection == 1">
                    c.cplr_type = #{couplerId}
                </when>
                <when test="viewSelection == 4">
                    rpt.mark = #{reportingMark}
                </when>
                <when test="viewSelection == 2">
                    NOT EXISTS
                    ( SELECT
                    1
                    FROM
                    inspection
                    WHERE
                    car_id = c.id
                    AND inspect_date > #{inspectionDate})
                </when>
            </choose>
        </where>
        ORDER BY reportingMark,
        car_number
    </select>
    <insert id="addInspection" parameterType="com.spw.rr.model.Inspection" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO Inspection
        (car_ID,
         inspect_Date,
         carWeight,
         carLength,
         inspectionTime,
         Overall_passed,
         weightPassed,
         CPLR_A_Height,
         CPLR_B_Height,
         CPLR_A_Action,
         CPLR_B_Action,
         Metal_Wheels_A,
         Metal_Wheels_B,
         Resist_Wheels_A,
         Resist_Wheels_B,
         Wheel_Gauge_A,
         Wheel_Gauge_B,
         Wheel_Tread_A,
         Wheel_Tread_B,
         Truck_screw_Loose_A,
         Truck_screw_Tight_B,
         car_sits_level,
         car_doesnt_rock,
         All_wheels_touch)
        VALUES (#{carId},
                #{inspectionDate},
                #{carWeight},
                #{carLength},
                #{inspectionTime},
                #{overallPassed},
                #{weightPassed},
                #{couplerHeightA},
                #{couplerHeightB},
                #{couplerActionA},
                #{couplerActionB},
                #{metalWheelsA},
                #{metalWheelsB},
                #{resistWheelsA},
                #{resistWheelsB},
                #{wheelGaugeA},
                #{wheelGaugeB},
                #{wheelTreadA},
                #{wheelTreadB},
                #{truckScrewLooseA},
                #{truckScrewTightB},
                #{carSitsLevel},
                #{carDoesntRock},
                #{allWheelsTouch})
    </insert>
    <insert id="addRRCar" parameterType="com.spw.rr.model.RRCar" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO Car
        (car_number,
         rpt_Mark,
         cplr_type,
         kit_type,
         car_type,
         prr_type,
         purchased,
         purchase_price,
         source,
         manufacturer,
         in_service,
         length,
         weight,
         aar_type,
         blt_date,
         car_color,
         description,
         rfid_tag,
         wheels)
        VALUES (#{carNumber},
                #{reportingMarkID},
                #{couplerTypeID},
                #{kitTypeID},
                #{carTypeID},
                #{prrTypeID},
                #{datePurchased},
                #{purchasePrice},
                #{vendor},
                #{manufacturer},
                #{dateInService},
                #{carLength},
                #{carWeight},
                #{aarTypeID},
                #{bltDate},
                #{carColor},
                #{description},
                #{RFIDtag},
                #{carWheels})
    </insert>
    <select id="getRRCar" resultType="com.spw.rr.model.RRCar">
        SELECT ID,
               car_number     as carNumber,
               description,
               rpt_mark       as reportingMarkID,
               cplr_Type      as couplerTypeID,
               prr_type       as prrTypeID,
               car_type       as carTypeID,
               kit_type       as kitTypeID,
               aar_type       as aarTypeID,
               purchased      as datePurchased,
               purchase_price as purchasePrice,
               source         as vendor,
               manufacturer   as manufacturer,
               kit_built      as dateKitBuilt,
               in_service     as dateInService,
               length         as carLength,
               weight         as carWeight,
               wheels         as carWheels,
               rfid_tag       as RFIDtag,
               blt_date       as bltDate,
               car_color      as carColor,
               last_updated   as lastUpdat
        FROM CAR
        WHERE ID = #{id}
    </select>
    <update id="updateCar" parameterType="com.spw.rr.model.RRCar">
        UPDATE car
        SET description    = #{description},
            cplr_type      = #{couplerTypeID},
            car_number     = #{carNumber},
            prr_type       = #{prrTypeID},
            car_type       = #{carTypeID},
            kit_type       = #{kitTypeID},
            aar_type       = #{aarTypeID},
            purchased      = #{datePurchased},
            purchase_price = #{purchasePrice},
            source         = #{vendor},
            manufacturer   = #{manufacturer},
            kit_built      = #{dateKitBuilt},
            in_service     = #{dateInService},
            length         = #{carLength},
            weight         = #{carWeight},
            wheels         = #{carWheels},
            rfid_tag       = #{RFIDtag},
            last_updated   = CURRENT TIMESTAMP
        WHERE ID = #{id}
    </update>
    <insert id="addBadOrder" parameterType="com.spw.rr.model.BadOrder" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO bad_order
        (car_Id,
         Area_of_car,
         in_effect,
         out_of_service,
         date_entered,
         description)
        VALUES (#{carId},
                #{problemArea},
                #{inEffect},
                #{outOfService},
                #{entryDate},
                #{problemDescription})
    </insert>
    <select id="getBadOrders" parameterType="int" resultType="com.spw.rr.model.BOViewModel">
        SELECT mark,
               car_number,
               Date_entered,
               COALESCE(a.type, 'None') AS carArea,
               bo.description           as problemDescription,
               bo.id                    as problemNumber
        FROM car c
                 INNER JOIN
             rpt_mark rm
             ON
                 rm.id = c.rpt_mark
                 INNER JOIN
             bad_order bo
             ON
                 bo.car_id = c.id
                 LEFT OUTER JOIN
             car_area a
             ON
                 bo.area_of_car = a.id
        WHERE c.id = #{carId}
    </select>
    <insert id="addMaintenanceItem" parameterType="com.spw.rr.model.MaintenanceItem" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO Maintenance
        (maint_date,
         car_id,
         area_of_car,
         closed_bad_orders,
         problem_desc,
         work_performed)
        VALUES (#{datePerformed},
                #{carId},
                #{carArea},
                #{badOrdersClosed},
                #{problemDescription},
                #{workPerformed})
    </insert>
    <update id="updateBadOrders" parameterType="com.spw.rr.parameter.BadOrderUpdateParameter">
        UPDATE
        Bad_order
        SET
        in_effect = '0',
        out_of_service = '0',
        closed_by = #{maintenanceId},
        date_closed = #{closeDate},
        last_updated = CURRENT TIMESTAMP
        WHERE
        id IN
        <foreach collection="boList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>