<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spw.rr.mybatis.DBMapper">
    <select id="listReferences" parameterType="String" resultType="com.spw.rr.model.ReferenceItem">
        SELECT id,
               type        as typeName,
               description as typeDescription,
               last_updated
        FROM \${type}
    </select>
    <insert id="addReferenceItem" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.spw.rr.model.ReferenceItem">
        INSERT INTO \${tableName} (type, description)
        values (#{typeName}, #{typeDescription})
    </insert>
    <update id="saveReferenceItem" parameterType="com.spw.rr.model.ReferenceItem">
        UPDATE \${tableName}
        set type         = #{typeName},
            description  = #{typeDescription},
            last_updated = current_timestamp()
        where ID = #{id}
    </update>
    <select id="getReferenceItem">
        SELECT id, type, description, last_updated
        FROM \${type}
        WHERE id = #{id}
    </select>
    <select id="listReportingMarks" resultType="com.spw.rr.model.ReportingMark">
        SELECT ID,
               mark,
               mark_desc as description,
               last_updated
        FROM RPT_Mark
        ORDER BY mark
    </select>
    <insert id="addReportingMark" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.spw.rr.model.ReportingMark">
        INSERT INTO RPT_MARK
        (mark,
         mark_desc)
        VALUES (#{mark},
                #{description})
    </insert>
    <select id="listCarsForViewing" resultType="com.spw.rr.model.ViewCar">
        SELECT c.id,
               car_number as carNumber,
               rpt.mark AS ReportingMark,
               aar.type AS aarType,
               ty.type  AS carType,
               c.description,
               c.rfid_tag as rfidTag
        FROM car c
                 INNER JOIN
             rpt_mark rpt
             ON
                 rpt.id = c.rpt_mark
                 LEFT OUTER JOIN
             aar_type aar
             ON
                 c.aar_type = aar.id
                 LEFT OUTER JOIN
             car_type ty
             ON
                 c.car_type = ty.id
        ORDER BY reportingMark,
                 car_number
    </select>
    <insert id="addInspection" parameterType="com.spw.rr.model.Inspection" useGeneratedKeys="true">
        INSERT INTO Inspection
         (car_ID,
          inspect_Date,
          carWeight,
          carLength,
          inspectionTime,
          Overall_passed,
          weightPassed,
          CPLR_A_Height,
          CPLR_B_Height,
          CPLR_A_Action,
          CPLR_B_Action,
          Metal_Wheels_A,
          Metal_Wheels_B,
          Resist_Wheels_A,
          Resist_Wheels_B,
          Wheel_Gauge_A,
          Wheel_Gauge_B,
          Wheel_Tread_A,
          Wheel_Tread_B,
          Truck_screw_Loose_A,
          Truck_screw_Tight_B,
          car_sits_level,
          car_doesnt_rock,
          All_wheels_touch
          ) VALUES (#{carId},
                    #{inspectionDate},
                    #{carWeight},
                    #{carLength},
                    #{inspectionTime},
                    #{overallPassed},
                    #{weightPassed},
                    #{couplerHeightA},
                    #{couplerHeightB},
                    #{couplerActionA},
                    #{couplerActionB},
                    #{metalWheelsA},
                    #{metalWheelsB},
                    #{resistWheelsA},
                    #{resistWheelsB},
                    #{wheelGaugeA},
                    #{wheelGaugeB},
                    #{wheelTreadA},
                    #{wheelTreadB},
                    #{truckScrewLooseA},
                    #{truckScrewTightB},
                    #{carSitsLevel},
                    #{carDoesntRock},
                    #{allWheelsTouch}
                           )
    </insert>
    <insert id="addRRCar" parameterType="com.spw.rr.model.RRCar" useGeneratedKeys="true">
        INSERT INTO Car
        (car_number,
         rpt_Mark,
         cplr_type,
         kit_type,
         car_type,
         prr_type,
         purchased,
         in_service,
         length,
         weight,
         aar_type,
         blt_date,
         car_color,
         description,
         rfid_tag,
         wheels)
        VALUES (#{carNumber},
                #{reportingMarkID},
                #{couplerTypeID},
                #{kitTypeID},
                #{carTypeID},
                #{prrTypeID},
                #{datePurchased},
                #{dateInService},
                #{carLength},
                #{carWeight},
                #{aarTypeID},
                #{bltDate},
                #{carColor},
                #{description},
                #{RFIDtag},
                #{carWheels})
    </insert>
    <select id="getRRCar" resultType="com.spw.rr.model.RRCar">
        SELECT ID,
               car_number   as carNumber,
               description,
               rpt_mark     as reportingMarkID,
               cplr_Type    as couplerTypeID,
               prr_type     as prrTypeID,
               car_type     as carTypeID,
               kit_type     as kitTypeID,
               aar_type     as aarTypeID,
               purchased    as datePurchased,
               kit_built    as dateKitBuilt,
               in_service   as dateInService,
               length       as carLength,
               weight       as carWeight,
               wheels       as carWheels,
               rfid_tag     as RFIDtag,
               blt_date     as bltDate,
               car_color    as carColor,
               last_updated as lastUpdat
        FROM CAR
        WHERE ID = #{id}
    </select>
    <update id="updateCar" parameterType="com.spw.rr.model.RRCar">
        UPDATE car
        SET description  = #{description},
            cplr_type    = #{couplerTypeID},
            car_number   = #{carNumber},
            prr_type     = #{prrTypeID},
            car_type     = #{carTypeID},
            kit_type     = #{kitTypeID},
            aar_type     = #{aarTypeID},
            purchased    = #{datePurchased},
            kit_built    = #{dateKitBuilt},
            in_service   = #{dateInService},
            length       = #{carLength},
            weight       = #{carWeight},
            wheels       = #{carWheels},
            rfid_tag     = #{RFIDtag},
            last_updated = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>
</mapper>